
<div style="font-size: 120%; font-family: monospace;margin-left: 550px;margin-top: 200px"  class="container">


<form action="" method="POST" class = "form-search">
    <input type="search" name="search" placeholder = "teacher or group">
    <input type="submit" class = "btn btn-success">
</form>



</div>





