<!DOCTYPE html>
<html>

    <head>
        <title> Расписание </title>
        <meta charset = "UTF-8">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    </head>

    <body>
            <%= yield %>
    </body>

</html>