       <p>
              <h2> Вопросы перенесены в систему Moodle </h2>
       </p>
       <p>
              <a href = <%= params[:link] %> > Просмотреть тест  </a>
       </p>
       
       







